*{
	font-family: 'Work Sans', sans-serif;
}
.dataTables_wrapper {
	margin: 30px;
}
td.details-control {
	background: url('./details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('./details_close.png') no-repeat center center;
}
.adicionar-dominio{
	position: relative;
	left: 30px;
	margin-bottom: -100px;
	z-index: 1;
}